body{
    background-color: #b3b0b0;;
    align-items: center; 
}

.container{
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    border: 2px solid black;
    margin: 350px;
    border-radius: 15px;
    text-align: center;
   
}

.item1{
     width: 100px;
   background-color: #ff6b6b;
   padding: 50px;
   margin: 20px ;
   border-radius: 15px;
   border: 2px solid black;
  
}
.item2{
     width: 100px;
    background-color: #4ecdc4;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid black;

}
.item3{
    background-color: #556270;
    width: 100px;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid black;
}
